{% extends "base.html" %}
{% block content %}
    <h1>Create Item</h1>
    <br><br>
    {% if message %}
        {{ message }}
    {% endif %}

    <form action="/catalog/{{ title }}/create" method="post">
        <input type="text" name="title">
        <input type="text" name="description">
        <select name="category_id">
            {% for row in categories %}
                <option value="{{ row.id }}">{{ row.title }}</option>
            {% endfor %}
        </select>
        <button type="submit" name="submit">Submit</button>
    </form>
{% endblock %}