{% extends "base.html" %}
{% block content %}
    <h1>Create Item</h1>

    {% if message %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}

    <form action="/catalog/item/create" method="post">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="description" placeholder="Description">
        <select name="category_id">
            {% for row in categories %}
                <option value="{{ row.id }}">{{ row.title }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-default" type="submit" name="submit">Submit</button>
    </form>
{% endblock %}