{% extends "base.html" %}
{% block content %}
    {% if message %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}

    {% for row in cat %}
    <h1>Edit {{ row.title }}</h1>
    <form action="/catalog/category/{{ row.id }}/edit" method="post">
        <input type="hidden" name="id" value="{{ row.id }}">
        <input type="text" name="title" value="{{ row.title }}">
        <button type="submit" name="submit">Submit</button>
    </form>
    {% endfor %}
{% endblock %}