{% extends "base.html" %}
{% set bodyClass = 'home' %}

{% block content %}
    {% if message %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}
    <div class="category-list col-md-3">
    {% if loggedIn %}
    <a href="/catalog/category/create" title="Add Category">Add Category</a>
    {% endif %}
    <h3>Categories</h3>
        <ul>
        {% for row in items %}
            {% if row.title != "No Categories found." %}
            <li><a href="/catalog/category/{{ row.id }}/items">
                {% endif %}
                {{ row.title }}
            {% if row.title != "No Items found." %}
            </a></li>
            {% endif %}
       {% endfor %}
        </ul>
    </div>
    <div class="item-list col-md-9">
        {% if loggedIn %}
        <a href="/catalog/item/create" title="Add Item">Add Item</a>
        {% endif %}
        <h3>Recent Items</h3>
        <ul>
        {% for row in items %}
            {% if row.title != "No Items found." %}
            <li><a href="/catalog/item/{{ row.id }}">
                {% endif %}
                {{ row.title }}
            {% if row.title != "No Items found." %}
            </a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endblock %}