{% extends "base.html" %}
{% set bodyClass = 'home' %}

{% block content %}
    {% if message %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}
    <div class="category-list col-md-3">
    {% if loggedIn %}
    <a href="/catalog/category/create" title="Add Category">Add Category</a>
    {% endif %}
    <h3>Categories</h3>
        <ul>
        {% if cats is defined %}
            {% for row in cats %}
            <li><a href="/catalog/category/{{ row.id }}/items">{{ row.title }}</a></li>
            {% endfor %}
       {% else %}
            <li>No Categories found.</li>
       {% endif %}
        </ul>
    </div>
    <div class="item-list col-md-9">
        {% if loggedIn %}
        <a href="/catalog/item/create" title="Add Item">Add Item</a>
        {% endif %}
        <h3>Recent Items</h3>
        <ul>
        {% if items is defined %}
            {% for row in items %}
                <li><a href="/catalog/item/{{ row.id }}">{{ row.title }}</a></li>
            {% endfor %}
        {% else %}
            <li>No Items found.</li>
        {% endif %}
        </ul>
    </div>
{% endblock %}