{% extends "base.html" %}
{% set bodyClass = 'home' %}

{% block content %}
    {% if message %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}
    <div class="category-list col-md-3">
    <h3>Categories</h3>
        <ul>
        {% for row in cats %}
            <li>{{ row.title }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="item-list col-md-9">
        <a href="/catalog/item/create" title="">Add Item</a>
        <h3>Recent Items</h3>
        <ul>
        {% for row in items %}
            <li><a href="/catalog/item/{{ row.id }}">{{ row.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}